.container {
    display: flex;
    flex-direction: row;
    height: 20vh;
  }
  
  .left-col {
    flex: 1;
    background: #ddd;
    overflow-y: scroll;
  }
  
  .right-col {
    flex: 1;
    background: #aaa;
    overflow-y: scroll;
  }
  
  