
.keyboardbackground{

    /* display: flex;
    justify-content: space-between; */
    /* margin:0 auto;  */
    /* position:relative;
    background-color: #333333;
    width: 100vw;
    max-width: 700px;
    border-radius: 10px;
    color: white; */
    height: 500px;
    background-color: #333333;
    margin:0 8px;
    
    
}

.keyboardrow{
    /* background-color: white;
    color: black; */
    
    background-color: #ec0000;
    width: 100%;
    margin: 0 auto 8px;
    /* margin: 0 auto;
    justify-content: space-between; */
    display: flex;
    
    
}

