/* TODO
Fix spacing, have it variable instead  of set for max screen size
Add option for darkmode-lightmode
Add global styling for text / color that the rest of components will inherit
*/

.wrapper {
  text-align: center;
  font-family: SpartanMB-Regular;
  color: #ffffff;
  background-color: #151c23;
}
:root {
  font-family: SpartanMB-Regular;
  color: #f5f7fa;
  background-color: #151c23;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(207, 24%, 15%);
  border-radius: 5px; /* SET IT TO SAME SIZE AS LEFT-COL / RIGHT-COL */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(207, 24%, 30%);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(207, 24%, 35%);
}
/* End Scrollbar */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: inherit;
  color: inherit;
}

/* Start Page */
.StartPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;

  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  font-family: SpartanMB-Regular;
  color: inherit;
}

.InfoPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;

  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  font-family: SpartanMB-Regular;
  color: inherit;
}

.Card {
  overflow: auto;
  width: 90%;
  /* Add This */ /*height: 95%;*/
  margin-left: 5%;
  margin-top: 20vh; /* Remove This */
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: #151c23;
  border-radius: 10px;
  opacity: 100%;
  font-family: SpartanMB-Regular;
  color: #f5f7fa;
}

.InfoPage .Card {
  margin-top: 10vh; /* Remove This */
}

.Card > .margin-controller {
  padding-right: 5vw;
  padding-left: 5vw;
}

.Card h1 {
  font-size: calc(14px + 1vw);
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

.Card > .margin-controller > ul {
  list-style-type: circle;
  text-align: left;
  font-family: inherit;
  font-size: calc(5px + 1vw);
  color: inherit;
}


.Card h2 {
  padding-left: 20px;
  padding-top: 10px;
  font-size: calc(5px + 1vw);
  font-family: inherit;
  color: inherit;
}

.Card button {
  font-size: calc(5px + 1vw);
  font-family: inherit;
  color: inherit;
  margin: 7px;
  background-color:#1D272F;
  border-color: #000000;
}

.Card button:hover {
  background: hsl(271, 76%, 53%);
}

.Card button:active {
  background: hsl(271, 90%, 53%);
}

.Card form {
  padding-left: 20px;
  padding-right: 20px;
  font-family: inherit;
  color: inherit;
}

.Card form > button {
  padding-left: 0px;
  text-align: center;
  font-family: inherit;
  color: inherit;
}

.Card .Word-Suggestions {
  color: inherit;
  font-family: inherit;
  padding-left: 20px;
  padding-bottom: 10px;
}

.Card .Word-Suggestions {
  color: inherit;
  font-family: inherit;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  
}

.test-word-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.left-test-word {
  font-size: calc(5px + 1vw);
  text-align: center;
  width: 50%;
  float: left;
}

.right-test-word {
  font-size: calc(5px + 1vw);
  text-align: center;
  width: 50%;
  float: right;
}

.Card .words {
  font-size: calc(5px + 1vw);
}

.Card .numbers {
  font-size: calc(5px + 1vw);
}

.Card .player-name {
  font-size: calc(6px + 1vw);
}
/* End Start Page */


/* Top Bar */
.navbar-custom {
  background-color: hsl(207, 24%, 15%);
}

a.nav-link {
  color: white !important;
}

button.nav-item {
  border-radius: 5px;
  font-size: 13px;
  font-family: inherit;
  color: inherit;
  margin: 3px;
  padding-top: 2px;
  background-color:hsl(207, 24%, 25%);
  border-color: #000000;
  border-width: 1px;
}

button.nav-item:hover {
  background: hsl(271, 76%, 53%);
}

button.nav-item:active {
  background: hsl(271, 90%, 53%);
}
/* End Top Bar */


.col-lg-12 {
  font-size: calc(5px + 1.5vw) !important;
}

/* Annoying Button Stuff */
.btn-custom {
  margin-top: 5px;
  font-size: calc(6px + 1vw) !important;
  text-align: center;
  color: white !important;
  padding: 5px 5px 5px 5px !important;
  background-color: hsl(207, 24%, 15%) !important;
}

.btn-custom:hover {
  color: inherit !important;
  background: hsl(271, 76%, 53%) !important;
}

.btn-custom:active {
  color: inherit !important;
  background: hsl(271, 90%, 53%) !important;
}

.MuiButton-root {
  color:white !important;
  font-size: calc(2px + 1vw) !important;
  background-color: hsl(207, 24%, 15%) !important;
}

.MuiButton-root:hover {
  color: inherit !important;
  background: hsl(271, 76%, 53%) !important;
}

.MuiButton-root:active {
  color: inherit !important;
  background: hsl(271, 90%, 53%) !important;
}

.MuiButton-root:disabled {
  color: hsl(207, 24%, 15%) !important;
  background: #151c23 !important;
}
/* End Annoying Button Stuff */


/* Board Stuff */
.outer-container {
  flex: 0 0 auto;
  height: 43vh;
}

.container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  margin: auto;
}

.words-list {
  padding: 0;
  font-size: calc(5px + 1.5vw);
  display: flex;
  list-style: none;
  justify-content: center;
}

.left-col {
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 48vw;
  min-height: 30vh;
  max-height: 43vh;
  overflow-y: scroll;
  border-radius: 5px;
  background: #1d272f;
  border: 1px solid #000000;
}

.right-col {
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 48vw;
  min-height: 30vh;
  max-height: 43vh;
  overflow-y: scroll;
  border-radius: 5px;
  background: #1d272f;
  border: 1px solid #000000;
}

.player-name-container {
  font-family: SpartanMB-Regular;
  color: #ffffff;
  text-align: center;
  display: table;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 2px;
}

.player-name {
  font-size: calc(5px + 1.5vw);
  flex: 1;
  display: inline;
  background: hsl(207, 24%, 25%);
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.words {
  width: 100px;
}

.words > li {
  text-align: center;
  background: hsl(207, 24%, 20%);
  border-radius: 8px;
  margin-bottom: 5px;
}

.numbers {
  margin-left: 5px;
  width: 20px;
}

.numbers > li {
  text-align: center;
  background: hsl(207, 24%, 20%);
  border-radius: 8px;
  margin-bottom: 5px;
}
/* End Board Stuff */

/* Main Body Stuff */
.err-msg-holder {
  height: 5px;
  margin-bottom: 25px;
}

.flex-container-body {
  background-color: #151c23;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  justify-content: center;
  font-family: SpartanMB-Regular;
  color: #ffffff;
}

.write {
  margin: 0 0 5px;
  padding: 5px;
  width: 671px;
  height: 200px;
  font: 1em/1.5;
  font-family: inherit;
  color: inherit;
}

#keyboard {
  margin: 0;
  padding: 0;
  justify-content: center;
  width: auto;
  font-family: SpartanMB-Regular;
  color: white;
}

.key-row {
  display: flex;
  margin: auto;
  width: auto;
  justify-content: center;
  font-family: inherit;
  color: inherit;
}

.word-holder {
  width: 100px;
  height: 25px;
  background: hsl(207, 24%, 20%);
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  color: white;
  font-family: SpartanMB-Regular;
  margin-bottom: 15px;
}

.word-holder.y1 {
  margin-bottom: 15px;
  animation-name: shake1;
  animation-duration: .1s;
  animation-iteration-count: 3;
}

.word-holder.y2 {
  margin-bottom: 15px;
  animation-name: shake2;
  animation-duration: .1s;
  animation-iteration-count: 3;
}

@keyframes shake1 {
  0% { transform: translateX(0) }
  33% { transform: translateX(5px) }
  66% { transform: translateX(-5px) }
  100% { transform: translateX(0) }
}

@keyframes shake2 {
  0% { transform: translateX(0) }
  33% { transform: translateX(5px) }
  66% { transform: translateX(-5px) }
  100% { transform: translateX(0) }
}

.form-control > .form-label {
  font-size: calc(5px + 1.5vw);
  text-align: left;
}

.button > .btn {
  text-align: center;
}

#keyboard button.regular-key {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  background: hsl(207, 24%, 15%);
  border: 1px solid #000000;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
}

#keyboard button.regular-key-yellow {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  background: hsl(43, 66%, 51%);
  border: 1px solid #000000;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
}
#keyboard button.regular-key-green {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  background: hsl(108, 84%, 32%);
  border: 1px solid #000000;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
}
#keyboard button.regular-key-red {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  background: hsl(0, 99%, 38%);
  border: 1px solid #000000;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
}

#keyboard button.large-key {
  float: left;
  margin: 0 5px 5px 0;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  background: hsl(207, 24%, 15%);
  border: 1px solid #000000;
  font-family: inherit;
  color: inherit;
}

#keyboard button:hover {
  background: hsl(271, 76%, 53%);
}

#keyboard button:active {
  background: hsl(271, 90%, 53%);
}

.radio-0.btn.btn-secondary {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-color: #000000 !important;
  margin: 5px !important;
  background-color: hsl(108, 84%, 32%) !important;
}

.radio-1.btn.btn-secondary {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-color: #000000 !important;
  margin: 5px !important;
  background-color: hsl(43, 66%, 51%) !important;
}

.radio-2.btn.btn-secondary {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-color: #000000 !important;
  margin: 5px !important;
  background-color: hsl(0, 99%, 38%) !important;

}

.radio-3.btn.btn-secondary {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-color: #000000 !important;
  margin: 5px !important;
  background-color: hsl(207, 24%, 25%) !important;
}
/* End Main Body Stuff */


/* Setting Stuff */
.SettingsPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;

  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  font-family: SpartanMB-Regular;
  color: inherit;
}

.settings-form {
  display: flex;
  justify-content: center;
}

.settings-aligner {
  margin: 0;
  width: fit-content;
  padding-left: 25px;
}

.form-check.form-switch {
  display: flex;
  padding-left: 40px !important;
  /* justify-content: center !important; */
}

.form-check-input {
  margin-right: 5px !important;
}

.fade.alert.alert-danger.show {
  font-family: SpartanMB-Regular;
  border-color: #000000;
  color: #f5f7fa;
  background-color: hsl(207, 24%, 15%);
}

button.btn.btn-danger:hover {
  background-color: red;
}

button.btn.btn-normal:hover {
  border-color: #000000;
}
/* Ending Setting Stuff */


/* Formatting for Small Screen */
@media (max-width: 488px) {
  #keyboard button.regular-key {
    font-size: 12px;
  }

  #keyboard button.large-key {
    font-size: 12px;
  }

  #keyboard button.regular-key-green {
    font-size: 12px;
  }

  #keyboard button.regular-key-yellow {
    font-size: 12px;
  }

  #keyboard button.regular-key-red {
    font-size: 12px;
  }
}

@media (max-width: 388px) {
  #keyboard button.regular-key {
    font-size: 8px;
  }

  #keyboard button.large-key {
    font-size: 8px;
  }

  #keyboard button.regular-key-green {
    font-size: 8px;
  }

  #keyboard button.regular-key-yellow {
    font-size: 8px;
  }

  #keyboard button.regular-key-red {
    font-size: 8px;
  }
}
/* Formatting for Small Screen */


/* Phone Formatting */
@media only screen and (max-device-width: 480px){
  /* Rules Screen Stuff */
  .Card {
    width: 99%;
    margin-left: .5%;
    margin-top: auto !important; /* Remove This */
    padding-right: 0;
    padding-left: 0;
  }

  .InfoPage .Card {
    height: 86%;
  }

  .Card h1 {
    font-size: calc(20px + 2vw);
  }

  .Card > .margin-controller {
    padding-right: 1vw;
    padding-left: 1vw;
  }

  .Card > .margin-controller > ul {
    font-size: calc(15px + 1.5vw) !important;
    list-style: none !important;
    padding-left: 0 !important;
    text-align: center;
  }

  .Card > .margin-controller > ul > li {
    margin-bottom: 6px;;
  }
  
  .Card h2 {
    font-size: calc(15px + 1.5vw);
  }
  
  .Card button {
    font-size: calc(15px + 1.5vw);
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .Card .player-name {
    font-size: calc(8px + 1.5vw);
  }

  .words {
    font-size: calc(8px + 1.5vw);
  }

  .numbers {
    font-size: calc(8px + 1.5vw);
  }

  .left-test-word {
    font-size: calc(15px + 1.5vw);
  }
  
  .right-test-word {
    font-size: calc(15px + 1.5vw);
  }
  /* End Rules Screen Stuff */


  /* Word Selection Stuff */
  .col-lg-12 {
    font-size: calc(20px + 1.5vw) !important;
  }

  .btn-custom {
    font-size: calc(20px + 1.5vw) !important;
  }

  .MuiButton-root {
    font-size: calc(15px + 1.5vw) !important;
  }
  /* End Word Selection Stuff */
 

  .outer-container {
    height: 31vh;
  }

  .left-col {
    max-height: 31vh;
  }

  .right-col {
    max-height: 31vh;
  }

  .player-name {
    font-size: calc(12px + 1vw);
  }

  .words-list {
    font-size: calc(8px + 1vw);
  }
}
/* End Phone Formatting */

@font-face {
  font-family: FontsFree-Net-Didonesque-Display;
  src: local('FontsFree-Net-Didonesque-Display'),
    url(./fonts/FontsFree-Net-Didonesque-Display.ttf) format('ttf');
}

@font-face {
  font-family: SpartanMB-Regular;
  src: local('SpartanMB-Regular'),
    url(./fonts/SpartanMB-Regular.otf) format('opentype');
}
@font-face {
  font-family: SpartanMB-Bold;
  src: local('SpartanMB-Bold'),
    url(./fonts/SpartanMB-Bold.otf) format('opentype');
}
